
  <div class="dashboard-tenant">
    <div class="row">
      <div class="col-xs-12">
        <!-- grille -->
        <% if @candidacies.empty? %>
          <h3>Tu n'as pas encore de candidature</h3>
        <% else %>
          <h3>Les dossiers de candidatures</h3>
          <div class="flex-container">
            <div class="candidacies">
              <div class="row">
                <div class="col-xs-12 candidacy_group_card_status">
                  <%= render 'schema_status'%>
                </div>
                <% @candidacies_sorted.each do |candidacy_group| %>
                  <% unless candidacy_group.empty? %>
                    <%= render 'candidacy_class_name', candidacy_group: candidacy_group %>
                    <div class="candidacy_group">
                      <% candidacy_group.each do |candidacy| %>
                        <div class="col-xs-12 candidacy_group_card">
                          <%= render 'card_tenant', candidacy: candidacy %>
                        </div>
                      <% end%>
                    </div>
                  <% end%>
                <% end%>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>
  </div>
