<div class="schema-status-candidacy">
  <div class="schema-icon-status text-center">
    <i class="far fa-clock"> </i>
    <p>En attente</p>
  </div>
  <div class="straight-line">
    <p></p>
  </div>
  <div class="schema-icon-status text-center">
    <i class="far fa-calendar-alt folder-icon"></i>
    <p>Visite programmée</p>
  </div>
  <div class="straight-line">
    <p></p>
  </div>
  <div class="schema-icon-status text-center">
    <i class="far fa-calendar-check"> </i>
    <p>Visite effectuée</p>
  </div>
  <div class="straight-line">
    <p></p>
  </div>
  <div class="schema-icon-status text-center">
    <i class="fas fa-check-circle"></i>
    <p>Dossier retenu</p>
  </div>
</div>

