<div class="col-xs-6">
  <!-- grille -->
  <div class="flex-container">
    <div class="candidacies">
      <div class="row">
        <% @candidacies_sorted.each do |candidacy_group| %>
          <% unless candidacy_group.empty? %>
            <%= render 'candidacy_class_name', candidacy_group: candidacy_group %>
            <div class="candidacy_group">
              <% candidacy_group.each do |candidacy| %>
                <div class="candidacy_card">
                  <%= render 'card_flat', candidacy: candidacy %>
                </div>
              <% end%>
            </div>
          <% end%>
        <% end%>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6">
  <div
    id="map"
    class="map_tenant_candidacies"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>


