<% if current_user == message.recipient %>
  <li class="recipient">
     <div class="msj-rta macro">
        <div class="message-text message-text-r">
          <p> <%= message.content %> </p>

        </div>
        <%= cl_image_tag message.sender.avatar, class: "avatar-bubble avatar" %>
      </div>
    </li>
<% else %>
  <li class="sender">
     <div class="msj macro">
        <%= cl_image_tag message.sender.avatar, class: "avatar-bubble avatar"%>
        <div class="message-text message-text-l">
            <p> <%= message.content %> </p>

        </div>
    </div>
  </li>
<% end %>

