<p> Conversation entre <%= "#{@candidacy.user.first_name} #{@candidacy.user.last_name} et #{@candidacy.flat.user.first_name} #{@candidacy.flat.user.last_name}" %> </p>
<div id="conversation">
  <% if @candidacy.messages.blank? %>
    Envoyer un premier message au propriétaire
  <% else %>
    <% @messages.each do |message| %>
      <%= render 'messages/show', message: message %>
    <% end %>
  <% end %>
</div>

<div class="new_message">
  <%= render 'messages/form', candidacy: @candidacy, message: @message %>
</div>
