// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #EBB216;
$orange: #E67E22;
$green: #32B796;
$gray: #333333;
$light-gray: #F4F4F4;

$my-violet: #9073B3;
$my-green: #29B73C;
$my-blue: #1DACFC;
$my-light-blue: lighten($my-blue, 25%);
$my-very-light-blue: lighten($my-blue, 40%);
$my-light-gray: #F4F4F4;
$my-mid-gray: #E4E4E4;
