// Specific CSS for your home-page
.banner {
  color: white;
  text-align: right;
  height: calc(60vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-position-y: 55%;
}
.banner h1 {
  font-size: 140px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-bottom: 30px;
}

.banner-content {
  padding: 200px;
}

.wrapper-info {
  background-color: white;
  padding-top: 10px;
  i {
    color: $my-blue;
  }
  .info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    p {
      text-align: center;
      }

  }
  .info-card {
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 15px;
    height: 200px;
    background: $my-light-gray;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    // color: white;
    text-align: center;
    .fas, .far {
      font-size: 42px;
      margin: 10px;
    }

  }
}
