<div class="dashboard">
  
  <div class="container">
    <div class="row flex">
      <div class="col-xs-1 no-padding-right">
        <!-- tabs apparts -->
        <%= render 'shared/tabs_flats' %>
      </div>
      <div class="col-xs-3 sm-padding-right no-padding-left">
        <!-- sidebar-owner -->
        <%= render 'shared/sidebar_owner' %>
      </div>

      <div class="col-xs-8 sm-padding-left">
        <!-- dashboard-box -->
        <%= render 'flats/form', flat: @flat %>
      </div>
    </div>
  </div>

</div>
