
<div class="dashboard">
  <!-- tabs apparts -->
  <div class="tabs-flats">

  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-4 sm-padding-right">
        <!-- sidebar-owner -->
        <%= render 'shared/sidebar_owner' %>
      </div>

      <div class="col-xs-8 sm-padding-left">
        <!-- dashboard-box -->
        <%= render 'shared/dashboard_box' %>
      </div>
    </div>
  </div>

</div>

