// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

a, a:visited {
    text-decoration: none !important;
}

li {
  list-style-type: none;
}

hr {
  height: 6px;
}

h3 {
  position: relative;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  color: $gray-base;
}

h3:after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: $brand-primary;
  left: 0;
  bottom: -15px;
  position: absolute;
}

.candidacies h4 {
  font-size: 18px;
  font-weight: lighter;
  color: $gray-base;
}

.candidacies {
  flex-grow: 1;
  margin: 0 1em;
}

#body-wrap {
  min-height: calc(100vh - 170px);
}

.flex-container {
  display: flex;

}

#map-sticky {
  height: 300px;
  flex: 1;
  background-color: red;
  margin: 0 0 0 10px;
}

.candidacies {
  flex-grow: 1;
}

.map_tenant_candidacies {
  height: calc(100vh - 145px) !important;
  flex: 1;
  background-color: red;
  margin: 10px 0 0 10px !important;
  position: sticky !important;
  top: 0px;
}

.candidacy_group {
  border-top: 2px solid rgba(220,224,244,0.4);
}


.candidacy_group_card:last-child {
  border-bottom: none;
  margin-bottom: 30px;
}
