// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

li {
  list-style-type: none;
}

hr {
  height: 6px;
}

h3 {
  position: relative;
  margin-bottom: 30px;
}

h3:after {
  content: "";
  width: 100px;
  height: 5px;
  background-color: $brand-primary;
  left: 0;
  bottom: -15px;
  position: absolute;
}

.candidacies {
  flex-grow: 1;
  margin: 0 1em;
}
