<div class="tabs-candidacies">
  <div class="row">
    <div class="col-xs-4 text-center">
      <%= link_to candidacy_path(@candidacy) do %>
        <div class="tab-candidacy">
          <i class="fas fa-home"></i>
          Le logement
        </div>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <%= link_to candidacy_messages_path(@candidacy) do %>
        <div class="tab-candidacy">
          <i class="fas fa-comments"></i>
          Messages
        </div>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <%= link_to candidacy_bookings_path(@candidacy) do %>
        <div class="tab-candidacy">
          <i class="far fa-calendar-alt"></i>
          Plannifier une visite
        </div>
      <% end %>
    </div>
  </div>
</div>
