<div class="row">
  <div class="tabs-candidacies">
    <div class="col-xs-4">
      <%= link_to candidacy_path, title: @flat.name do %>
        <div class="tab-candidacy">
          <%= @flat.name %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
  <%= link_to candidacy_messages_path(@candidacy) do %>
    <div class="tab-candidacy">
      <i class="fas fa-comments"></i>
      Messages
    </div>
  <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to candidacy_messages_path(@candidacy) do %>
        <div class="tab-candidacy">
          <i class="far fa-calendar-alt"></i>
          Visiter
        </div>
      <% end %>
    </div>
  </div>
</div>
