<div class="tabs-candidacies">
  <div class="row">
    <div class="col-xs-4 text-center">
      <%= link_to candidacy_path(@candidacy) do %>
        <div class="tab-candidacy">
          <i class="fas fa-home"></i>
          Le logement
        </div>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <%= link_to candidacy_messages_path(@candidacy) do %>
        <div class="tab-candidacy">
          <% if !@candidacy.messages.empty? %>
            <% if (@candidacy.messages.last.sender == @candidacy.flat.user && !@candidacy.messages.last.read) %>
              <i class="fas fa-comments mess-icon"><i class="fas fa-circle unread-message-dot"></i></i>
              Messages
            <% else %>
              <i class="fas fa-comments mess-icon"></i>
              Messages
            <% end %>
          <% else %>
            <i class="fas fa-comments mess-icon"></i>
            Messages
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <%= link_to candidacy_bookings_path(@candidacy) do %>
        <div class="tab-candidacy">
          <% if @candidacy.status == "Visite effectuée" || @candidacy.status == "Dossier retenu" %>
            <i class="far fa-calendar-check"></i>
          <% elsif @candidacy.status == "Visite programmée" %>
            <i class="far fa-calendar-alt folder-icon"><i class="fas fa-check-circle folder-check"></i></i>
          <% else %>
            <i class="far fa-calendar-alt"></i>
          <% end%>
          Plannifier une visite
        </div>
      <% end %>
    </div>
  </div>
</div>

