<div class="banner" style="background-image: linear-gradient(-225deg, rgba(86,101,89,0.3) 0%, rgba(25,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1440504990710-3ebc0dcc734c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cfcc959c8d2ab3a465b640224c7d8fe&auto=format&fit=crop&w=3067&q=80');">
  <div class="banner-content">
    <h4>myAgency</h4>
    <h2>Oubliez les frais d’agence,</br>nous vous offrons la simplicité !</h2>
    <%= link_to new_user_session_path, class: "btn btn-primary btn-lg"  do %>
      <%= t(".sign_in", default: "Commencer") %>
    <% end %>

  </div>
</div>
