<div class="banner" style="background-image: linear-gradient(-225deg, rgba(86,101,89,0.3) 0%, rgba(25,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1440504990710-3ebc0dcc734c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cfcc959c8d2ab3a465b640224c7d8fe&auto=format&fit=crop&w=3067&q=80');">
  <div class="banner-content">
    <h4>myAgency</h4>
    <h2>Oubliez les frais d’agence,</br>nous vous offrons la simplicité !</h2>
    <%= link_to new_user_session_path, class: "btn btn-primary btn-lg"  do %>
      <%= t(".sign_in", default: "Commencer") %>
    <% end %>

  </div>

</div>

<div class="wrapper-info">
  <div class="container">
    <div class="row">
      <!-- <div class="col-xs-12 col-sm-8 offset-sm2">
        <p>Un appart à louer, ton annonce est en ligne mais tu es submergé par les demandes...</p>
      </div> -->
    </div>
    <div class="row">

      <div class="col-xs-12 col-sm-4 text-center">
        <h4>Simple</h4>
        <div class="info-card">
          <i class="fas fa-mouse-pointer"></i>
          <div class="info-text">
            <p>En un seul clic, tu créér ton espace et tu géres les demandes.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <h4>Efficace</h4>
        <div class="info-card">
          <i class="far fa-calendar-alt"></i>
          <div class="info-text">
            <p>Plus besoin d'emails ou d'échanges téléphoniques, tu gères tes rendez-vous comme un pro.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <h4>Réglo</h4>
        <div class="info-card">
          <i class="far fa-handshake"></i>
          <div class="info-text">
            <p>Une relation proprio/locataire transparente, sans intermédiaire et honnête (respect des données personnelles, bienveillance).</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
