.calendar {
  font-size: 16px;

  .navigationdisable {
    pointer-events: none;
    cursor: default;
    color: $my-light-gray;
  }
  .availabilities-day-title {
    margin-bottom: 15px;
    position: relative;
    .availabilities-day-name {
      font-weight: bold;
    }
    .availabilities-day-date {
      font-weight: lighter;
    }
  }
  .availabilities-day-title:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $my-light-gray;
    left: 0;
    bottom: -10px;
    position: absolute;
  }
}

.calendar-tenant {
  .disabled {
    pointer-events: none !important;
    cursor: default !important;
    color: $my-light-gray;
  }
  .availability {
    background-color: $my-mid-gray;
    // background-color: $my-blue;
    border-radius: 15px;
    color: white;
  }
  .availabilities-slot:hover, .booked {
    background-color: $my-light-blue;
  }
}

.availabilities-slot {
  margin-bottom: 2px;
}

.availability {
  background-color: $my-light-blue;
  // background-color: $my-blue;
  border-radius: 15px;
  color: white;
}

.availabilities-slot:hover {
  background-color: $my-light-blue;
  // background-color: $my-blue;
  border-radius: 15px;
  color: white;
}
