.calendar {
  font-size: 16px;

  .navigationdisable {
    pointer-events: none;
    cursor: default;
    color: $my-light-gray;
  }
  .availabilities-day-title {
    margin-bottom: 15px;
    position: relative;
    .availabilities-day-name {
      font-weight: bold;
    }
    .availabilities-day-date {
      font-weight: lighter;
    }
  }
  .availabilities-day-title:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $my-light-gray;
    left: 0;
    bottom: -10px;
    position: absolute;
  }
}

.availabilities-slot:hover {
  // background-color: $my-light-blue;
  background-color: $my-blue;
  border-radius: 15px;
  color: white;
}
