.card-content {
  height: 200px;
}

.card {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // background-size: cover !important;
  // background-position: center;
  // color: white;
  // height: 180px;
  // position: relative;
  // padding-top: 10px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card-footer {
background-color: black;
position: relative;
position: absolute;
bottom: 0px;
}

.card-price {
  position: absolute;
  left: 10px;
  top: 10px;
}

.candidacy_card{
  height: 200px;
  padding: 20px 0 0 0;
  margin-bottom: 20px;
  transition: margin-top 0.2s ease, margin-bottom 0.2s ease;
}

.candidacy_card:last-child {
  margin-bottom: 40px;
}

.candidacy_card:hover{
  margin-top: -10px;
  margin-bottom: 30px;
}

.candidacy_card_body{
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  font-size: 18px;
  color: white;
  height: 150px;
  position: relative;
  .candidacy_card_title{
    position: absolute;
    left: 10px;
    top: 10%;
  }
  .candidacy_booking_date {
    position: absolute;
    left: 10px;
    bottom: 10%;
  }
}

.candidacy_card_footer{
  background-color: white;
  height: 50px;
  // position: relative;
  font-size: 15px;
  display:flex;
  align-items: center;
  justify-content: space-around;

  .icon-message{
    // position: absolute;
    font-size: 25px;
    i {
      color: lightgrey;
      .unread-message-dot {
      color: red;
      }
    }
    i:hover {
      color: $brand-primary;
    }
    // right: 50%;
    // top: 30%;
  }

  .icon-calendar{
    // position: absolute;
    font-size: 25px;
    i {
      color: lightgrey;
      .folder-check {
      color: green
    }
    }
    i:hover {
      color: $brand-primary;
    }
    // right: 20px;
    // top: 30%;
  }
}

.tenant-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  i {
    font-size: 25px;
    color: lightgrey;
  }
  i:hover {
    color: $brand-primary;
  }
  p {
    margin-bottom: 0;
  }
  position: relative;
}

.archive-candidacy {
  position: absolute;
  top: -8px;
  right: -8px;
  button {
    border: none;
    padding: 0;
    opacity: 0;
    background-color: rgba(0, 0, 255, 0);
  }
  button:hover {
    background-color: rgba(0, 0, 255, 0);
  }
  i {
    font-size: 16px;
    color: lightgrey;
  }
}

.tenant-card:hover {
  background-color: #ecf5fa;
}

.tenant-card:hover button{
  opacity: 1;
}

.tenant-name {
  font-size: 15px;
  font-weight: bold;
  flex-grow: 1;
  padding-left: 10px;
  min-width: 100px;
}

.tenant-message {
  min-width: 60px;
}

.mess-icon {
  position: relative;
}

i.unread-message-dot {
  font-size: 12px;
  color: red;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: -5px;
}

.tenant-folder {
  min-width: 60px;
}

.folder-icon{
  position: relative;
}

i.folder-check{
  font-size: 12px;
  color: green;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: -5px;
}

// .folder-check{
//   position: absolute;
//   top: 0px;
//   right: -5px;
// }

.tenant-calendar {
  min-width: 60px;
}

.tenant-status {
  font-size: 15px;
  font-weight: bold;
  min-width: 70px;
}

i.confirm-candidacy {
  color: green;
}

i.refuse-candidacy {
  color: red;
}
