.dashboard {
  // display: flex;
}

.dashboard-box {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  // border: 0px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  min-height: 80vh;
  height: 100%;
}


.sm-padding-left {
  padding-left: 1px;
}
