.dashboard-box {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  // border: 0px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  height: 80vh;
}


.sm-padding-left {
  padding: 1px;
}
