.dashboard {
  // display: flex;
  padding-bottom: 20px;
}

.dashboard-box, .dashboard-tenant {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  // border: 0px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  min-height: 80vh;
  height: 100%;
}

.sm-padding-left {
  padding-left: 1px;
}

#map {
  height: 300px;
  flex: 1;
  margin: 0 0 0 15px;
}

.visuel {
  display: flex;
  padding: 10px 0 5px 0;
}

.photo_flat {
  flex: 0 0 400px;
  position: relative;
  .avatar-large-bordered {
    position: absolute;
    z-index:1;
    bottom: 10px;
    right: 10px;

  }
}

.item > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100% !important;
}

.info_flat {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
}

.metric_flat {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.dashboard-box-head {
  display: flex;
  justify-content: space-between;
}

.pic-flat {
  height: 300px !important;
  width: 400px !important;
}

.dash_tenant_candidacies {
  display: flex;
}

#update_flat_date {
  text-align: right;
}

