// Import your components CSS files here.
@import "avatar";
@import "alert";
@import "navbar";
@import "footer";
@import "sidebar";
@import "dashboard_box";
@import "tabs_flats";
@import "card";
@import "new";
@import "tabs_candidacies";
