// Import your components CSS files here.
@import "avatar";
@import "alert";
@import "navbar";
@import "footer";
@import "sidebar";
@import "dashboard_box";
@import "tabs_flats";
@import "card";
@import "registration";
@import "message";
@import "tabs_candidacies";
@import "calendar";
@import "progress_button";
@import "tooltips";
@import "profil";
