.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.message:hover {
  background-color: #ecf5fa;
}

.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h4 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
  min-width: 135px;
}

.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
  min-width: 67px;
}

.message-status-icon {
  font-weight: bold;
  i {
    font-size: 23px;
    min-width: none;
    i {
      font-size: 12px;
    }
  }
}

.discussion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discussion-header h3{
  padding-right: 10px;
}

.message-bubble {
  padding: 0 10px;
  border-radius: 3px;
  border: 2px solid rgba(220,224,244,0.4);
}

.recipient {
  width:100%;
}

.sender {
  width:100%;
}

.message-text{
  width:75%;
  display:flex;
  text-align:left;
  flex-direction:column;
}
.message-text > p:first-of-type{
  width:100%;
  margin-top:0;
}


.message-text > p.time{
  width:100%;
  text-align:right;
  color:silver;
  margin-bottom:-7px;
  margin-top:auto;
  font-weight: lighter;
  font-size: 15px;
}

.message-text-l{
  justify-content: flex-start;
  float:left;
  padding-left:10px;
}
.message-text-r{
  float:right;
  padding-left:10px;
  padding-right:10px;
}

.avatar-bubble{
    display:flex;
    align-items:center;
    width:35px;
    float:left;
}

.macro{
    margin-top: 20px;
    width:85%;
    border-radius:5px;
    padding:5px;
    display:flex;
}
.msj-rta{
  float:right;
  background:$my-very-light-blue;
  justify-content: space-between;
  // color: white;
  .time {
    // color: white;
  }
}
.msj{
    float:left;
    background:whitesmoke;
    justify-content: flex-start;
}

.message-frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}

#conversation {
  padding-top: 20px;
  ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
  }
}

.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent whitesmoke transparent transparent;
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: $my-very-light-blue transparent transparent transparent;
}







