.sidebar {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  min-height: 80vh;
}

.sm-padding-right {
  padding-right: 1px;
}


/* Sidebar link */
a {
  color: #616668;
}
a:hover {
  color: $brand-primary;
  text-decoration: none;
}

.sidebar i {
    width: 35px;
    padding: 10px 0;
    text-align: center;
}
