.tabs-flats {
  margin-top: 20px;
  font-size: 14px;
}

.tab-flat {
  display : flex;
  align-items : center;
  height: 100px;
  background-color: #F4F4F4;
  color: #A1A1A1;
  margin-bottom: 2px;
  justify-content: space-around;
  text-align: center;
  // padding: 20px;
  // border-top-left-radius: 4px;
  // border-bottom-left-radius: 4px;
  // box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  i {
    font-size: 36px;
  }
}

.first-tab {
  box-shadow: -2px 0px 2px 0 rgba(0, 0, 0, 0.1);
}

.tab-flat:hover {
  background-color: $brand-primary;
  color: white;
}

// .tab-flat i {
//   font-size: 36px;
// }

.no-padding-right {
  padding-right: 1px;
  z-index: 10;
  margin-right: -2px;
}

.active {
  background-color: white;
  color: #616668;
}
