.tabs-candidacies {
  // margin-top: 20px;
  margin-bottom: 20px;
  // font-size: 16px;
}

.tab-candidacy {
  // background-color: #F4F4F4;
  // color: #A1A1A1;
  // margin-bottom: 2px;
  // position: relative;
}

// .tab-candidacy:after {
//   content: "";
//   width: 100px;
//   height: 5px;
//   background-color: $brand-primary;
//   left: 0;
//   bottom: -15px;
//   position: absolute;
// }
