<div class="row calendar calendar-owner">
  <div class="col-xs-12">
    <h3> Les visites programmées</h3>
    <% bookings.each do |booking|%>
      <% if booking.first.availability.start_time > Date.today %>
        <%= render 'one_booking_recap_owner', booking: booking %>
      <% end%>
    <% end%>
  </div>
</div>
