<!-- Dashboard côté proprio -->
<div class="dashboard">

  <div class="container">
    <div class="row flex">
      <div class="col-xs-1 no-padding-right">
        <!-- tabs apparts -->
        <%= render 'shared/tabs_flats' %>
      </div>
      <div class="col-xs-3 sm-padding-right no-padding-left">
        <!-- sidebar-owner -->
        <%= render 'shared/sidebar_owner' %>
      </div>

      <div class="col-xs-8 sm-padding-left">
        <!-- dashboard-box -->
        <div class="dashboard-box">
          <h3>Mes disponibilités</h3>
          <%= render 'shared/calendar_availabilities' %>
        </div>
      </div>
    </div>
  </div>

</div>
